In [1]:
mi_ciudad = "Madrid"
ciudad = "Barcelona"
otra_ciudad = "Bilbao"

In [2]:
# Usamos esta libreria para obtener la longitud y latitud de las ciudades correspondietes

from geopy.geocoders import Nominatim

# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

# ciudad Barcelona
location_ciudad = geolocator.geocode(ciudad)
lat_ciudad = location_ciudad.latitude
long_ciudad = location_ciudad.longitude

# mi ciudad Madrid
location_mi_ciudad = geolocator.geocode(mi_ciudad)
lat_mi_ciudad = location_mi_ciudad.latitude
long_mi_ciudad = location_mi_ciudad.longitude

# otra ciudad Bilbao
location_otra_ciudad = geolocator.geocode(otra_ciudad)
lat_otra_ciudad = location_otra_ciudad.latitude
long_otra_ciudad = location_otra_ciudad.longitude


print("Latitud de ", mi_ciudad, ":" ,lat_mi_ciudad)
print("Longitud de ", mi_ciudad, ":" ,long_mi_ciudad)
print("Latitud de ", ciudad,":" ,lat_ciudad)
print("Longitud de ", ciudad,":" ,long_ciudad)
print("Latitud de ", otra_ciudad,":" ,lat_otra_ciudad)
print("Longitud de ", otra_ciudad,":" ,long_otra_ciudad)

Latitud de  Madrid : 40.4167047
Longitud de  Madrid : -3.7035825
Latitud de  Barcelona : 41.3828939
Longitud de  Barcelona : 2.1774322
Latitud de  Bilbao : 43.2630018
Longitud de  Bilbao : -2.9350039

In [3]:
# En esta api obtengo datos actuales (diario) del clima
import pandas as pd
import urllib
import urllib.request
import json

api_key_w='3886d5996f84c5b9a5c953b027fc2306'

# Barcelona 
url_ciudad='https://api.openweathermap.org/data/2.5/weather?lat='+str(lat_ciudad)+'&lon='+str(long_ciudad)+'&units=metric&appid='+api_key_w
datos_real_time_ciudad=urllib.request.urlopen(url_ciudad).read()
js_ciudad=json.loads(datos_real_time_ciudad)

t_max_ciudad=js_ciudad['main']['temp_max']
t_min_ciudad=js_ciudad['main']['temp_min']
t_med_ciudad=js_ciudad['main']['temp']
pres_ciudad=js_ciudad['main']['pressure']
w_spd_ciudad=js_ciudad['wind']['speed']
sen_ter_ciudad=js_ciudad['main']['feels_like']

# Madrid
url_mi_ciudad='https://api.openweathermap.org/data/2.5/weather?lat='+str(lat_mi_ciudad)+'&lon='+str(long_mi_ciudad)+'&units=metric&appid='+api_key_w
datos_real_time_mi_ciudad=urllib.request.urlopen(url_mi_ciudad).read()
js_mi_ciudad=json.loads(datos_real_time_mi_ciudad)

t_max_mi_ciudad= js_mi_ciudad['main']['temp_max']
t_min_mi_ciudad= js_mi_ciudad['main']['temp_min']
t_med_mi_ciudad= js_mi_ciudad['main']['temp']
pres_mi_ciudad= js_mi_ciudad['main']['pressure']
w_spd_mi_ciudad= js_mi_ciudad['wind']['speed']
sen_ter_mi_ciudad= js_mi_ciudad['main']['feels_like']

# Bilbao
url_otra_ciudad='https://api.openweathermap.org/data/2.5/weather?lat='+str(lat_otra_ciudad)+'&lon='+str(long_otra_ciudad)+'&units=metric&appid='+api_key_w
datos_real_time_otra_ciudad=urllib.request.urlopen(url_otra_ciudad).read()
js_otra_ciudad=json.loads(datos_real_time_otra_ciudad)

t_max_otra_ciudad= js_otra_ciudad['main']['temp_max']
t_min_otra_ciudad= js_otra_ciudad['main']['temp_min']
t_med_otra_ciudad= js_otra_ciudad['main']['temp']
pres_otra_ciudad= js_otra_ciudad['main']['pressure']
w_spd_otra_ciudad= js_otra_ciudad['wind']['speed']
sen_ter_otra_ciudad= js_otra_ciudad['main']['feels_like']

In [4]:
barca = {"City": [ciudad],
         'temperatura_max': [t_max_ciudad],
         'temperatura_min': [t_min_ciudad],
         'temperatura_med': [t_med_ciudad],
         'senacion_termica': [sen_ter_ciudad],
         'presion': [pres_ciudad],
         'wind_speed': [w_spd_ciudad]}
df = pd.DataFrame(barca)

madr = {"City": [mi_ciudad],
       'temperatura_max': [t_max_mi_ciudad],
       'temperatura_min': [t_min_mi_ciudad],
       'temperatura_med': [t_med_mi_ciudad],
       'senacion_termica': [sen_ter_mi_ciudad],
       'presion': [pres_mi_ciudad],
       'wind_speed': [w_spd_mi_ciudad]}
df2 = pd.DataFrame(madr)

bil = {"City": [otra_ciudad],
       'temperatura_max': [t_max_otra_ciudad],
       'temperatura_min': [t_min_otra_ciudad],
       'temperatura_med': [t_med_otra_ciudad],
       'senacion_termica': [sen_ter_otra_ciudad],
       'presion': [pres_otra_ciudad],
       'wind_speed': [w_spd_otra_ciudad]}
df3 = pd.DataFrame(bil)

print(f'En este momento, la temperatura media en Madrid ', t_med_mi_ciudad, 'ºC siendo la temperatura máxima de ', t_max_mi_ciudad, 'ºC, la temperatura mínima de ', t_min_mi_ciudad, 'ºC, con velocidad de vientos', w_spd_mi_ciudad, "km/h",end='\n' * 2)
print(f'En este momento, la temperatura media en Barcelona ', t_med_ciudad, 'ºC siendo la temperatura máxima de ', t_max_ciudad, 'ºC, la temperatura mínima de ', t_min_ciudad, 'ºC, con velocidad de vientos', w_spd_ciudad, "km/h",end='\n' * 2)
print(f'En este momento, la temperatura media en Bilbao ', t_med_otra_ciudad, 'ºC siendo la temperatura máxima de ', t_max_otra_ciudad, 'ºC, la temperatura mínima de ', t_min_otra_ciudad, 'ºC, con velocidad de vientos', w_spd_otra_ciudad, "km/h",end='\n' * 2)

En este momento, la temperatura media en Madrid  1.58 ºC siendo la temperatura máxima de  3.03 ºC, la temperatura mínima de  -1.11 ºC, con velocidad de vientos 5.14 km/h

En este momento, la temperatura media en Barcelona  4.16 ºC siendo la temperatura máxima de  7.25 ºC, la temperatura mínima de  -1.25 ºC, con velocidad de vientos 2.57 km/h

En este momento, la temperatura media en Bilbao  7.49 ºC siendo la temperatura máxima de  8.14 ºC, la temperatura mínima de  4.95 ºC, con velocidad de vientos 4.63 km/h

In [5]:
datos_hoy = pd.concat([df, df2, df3])
datos_hoy.groupby([datos_hoy.City]).agg(pd.Series.mode)

,temperatura_max,temperatura_min,temperatura_med,senacion_termica,presion,wind_speed
City,,,,,,
Barcelona,7.25,-1.25,4.16,1.84,1020,2.57
Bilbao,8.14,4.95,7.49,4.61,1031,4.63
Madrid,3.03,-1.11,1.58,-3.02,1007,5.14

In [7]:
datos_hoy.to_csv("../data/DF_informacionActual.csv",index=False)