In [1]:
import pymongo

In [2]:
cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
cliente.list_database_names()

['Clima_ciudades', 'admin', 'alojamiento_data', 'cliente', 'config', 'local']

In [4]:
mydb = cliente["Clima_ciudades"]

In [5]:
coleccion = mydb.cifras

In [6]:
import pandas as pd
pd.options.display.max_columns = None

In [11]:
df = pd.read_csv("../data/DF_Final.csv")
df.head()

,Region,Country,City,Month,Day,Year,AvgTemperature,fecha,tmin,tmax,prcp,wspd,pres,latitud,longitud
0,Europe,Spain,Barcelona,1,1,2020,52.8,2020-01-01,0.0,12.0,0.0,4.2,1032.1,41.382894,2.177432
1,Europe,Spain,Barcelona,1,2,2020,49.7,2020-01-02,1.0,13.0,0.0,5.2,1031.8,41.382894,2.177432
2,Europe,Spain,Barcelona,1,3,2020,50.8,2020-01-03,2.0,11.0,0.0,4.7,1030.9,41.382894,2.177432
3,Europe,Spain,Barcelona,1,4,2020,50.2,2020-01-04,0.0,14.0,0.0,4.8,1031.4,41.382894,2.177432
4,Europe,Spain,Barcelona,1,5,2020,50.7,2020-01-05,1.0,14.0,0.0,5.6,1028.6,41.382894,2.177432

In [12]:
coleccion.insert_many(df.to_dict("records"))

In [13]:
list(coleccion.find())[2]

{'_id': ObjectId('63cdad8c4a2314584c2734ff'),
 'Region': 'Europe',
 'Country': 'Spain',
 'City': 'Barcelona',
 'Month': 1,
 'Day': 3,
 'Year': 2020,
 'AvgTemperature': 50.8,
 'fecha': '2020-01-03',
 'tmin': 2.0,
 'tmax': 11.0,
 'prcp': 0.0,
 'wspd': 4.7,
 'pres': 1030.9,
 'latitud': 41.3828939,
 'longitud': 2.1774322}

In [14]:
coleccion.distinct( "City" )

['Barcelona', 'Bilbao', 'Madrid']

In [15]:
from geopy.geocoders import Nominatim

ciudad = "Barcelona"
mi_ciudad = "Madrid"
otra_ciudad = "Bilbao"
# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

# ciudad Barcelona
location_ciudad = geolocator.geocode(ciudad)
lat_ciudad = location_ciudad.latitude
long_ciudad = location_ciudad.longitude

# mi ciudad Madrid
location_mi_ciudad = geolocator.geocode(mi_ciudad)
lat_mi_ciudad = location_mi_ciudad.latitude
long_mi_ciudad = location_mi_ciudad.longitude

# otra ciudad Bilbao
location_otra_ciudad = geolocator.geocode(otra_ciudad)
lat_otra_ciudad = location_otra_ciudad.latitude
long_otra_ciudad = location_otra_ciudad.longitude


print("Latitud de", mi_ciudad, ":" ,lat_mi_ciudad)
print("Longitud de", mi_ciudad, ":" ,long_mi_ciudad)
print("Latitud de", ciudad,":" ,lat_ciudad)
print("Longitud de", ciudad,":" ,long_ciudad)
print("Latitud de", otra_ciudad,":" ,lat_otra_ciudad)
print("Longitud de", otra_ciudad,":" ,long_otra_ciudad)

Latitud de Madrid : 40.4167047
Longitud de Madrid : -3.7035825
Latitud de Barcelona : 41.3828939
Longitud de Barcelona : 2.1774322
Latitud de Bilbao : 43.2630018
Longitud de Bilbao : -2.9350039

In [16]:
list(coleccion.find({"City":"Bilbao"}))[:1]

[{'_id': ObjectId('63cdad8c4a2314584c273c1f'),
  'Region': 'Europe',
  'Country': 'Spain',
  'City': 'Bilbao',
  'Month': 1,
  'Day': 1,
  'Year': 2020,
  'AvgTemperature': 46.1,
  'fecha': '2020-01-01',
  'tmin': 2.9,
  'tmax': 14.8,
  'prcp': 0.0,
  'wspd': 4.7,
  'pres': 1032.6,
  'latitud': 43.2630018,
  'longitud': -2.9350039}]

Busqueda de fechas especificas

In [25]:
cond1 = {"Year":2020}
cond2 = {"Month":6}
cond3 = {"Day":18}
cond4 ={'City':"Barcelona"}

list(coleccion.find({'$and': [cond1, cond2, cond3, cond4]}))

[{'_id': ObjectId('63cdad8c4a2314584c2735a5'),
  'Region': 'Europe',
  'Country': 'Spain',
  'City': 'Barcelona',
  'Month': 6,
  'Day': 18,
  'Year': 2020,
  'AvgTemperature': 68.2,
  'fecha': '2020-06-18',
  'tmin': 15.0,
  'tmax': 23.0,
  'prcp': 2.9,
  'wspd': 9.3,
  'pres': 1016.0,
  'latitud': 41.3828939,
  'longitud': 2.1774322},
 {'_id': ObjectId('63ce9534dc26fe3c3ed7fdd1'),
  'Region': 'Europe',
  'Country': 'Spain',
  'City': 'Barcelona',
  'Month': 6,
  'Day': 18,
  'Year': 2020,
  'AvgTemperature': 68.2,
  'fecha': '2020-06-18',
  'tmin': 15.0,
  'tmax': 23.0,
  'prcp': 2.9,
  'wspd': 9.3,
  'pres': 1016.0,
  'latitud': 41.3828939,
  'longitud': 2.1774322}]

In [23]:
cond1 = {"Year":2020}
cond2 = {"Month":6}
cond3 = {"Day":18}
cond4 ={'City':"Madrid"}

list(coleccion.find({'$and': [cond1, cond2, cond3, cond4]}))

[{'_id': ObjectId('63cdad8c4a2314584c2743e9'),
  'Region': 'Europe',
  'Country': 'Spain',
  'City': 'Madrid',
  'Month': 6,
  'Day': 18,
  'Year': 2020,
  'AvgTemperature': 67.4,
  'fecha': '2020-06-18',
  'tmin': 15.8,
  'tmax': 28.9,
  'prcp': 0.0,
  'wspd': 10.3,
  'pres': 0.0,
  'latitud': 40.4167047,
  'longitud': -3.7035825},
 {'_id': ObjectId('63ce9534dc26fe3c3ed80c15'),
  'Region': 'Europe',
  'Country': 'Spain',
  'City': 'Madrid',
  'Month': 6,
  'Day': 18,
  'Year': 2020,
  'AvgTemperature': 67.4,
  'fecha': '2020-06-18',
  'tmin': 15.8,
  'tmax': 28.9,
  'prcp': 0.0,
  'wspd': 10.3,
  'pres': 0.0,
  'latitud': 40.4167047,
  'longitud': -3.7035825}]

In [24]:
cond1 = {"Year":2020}
cond2 = {"Month":6}
cond3 = {"Day":18}
cond4 ={'City':"Bilbao"}

list(coleccion.find({'$and': [cond1, cond2, cond3, cond4]}))

[{'_id': ObjectId('63cdad8c4a2314584c273cc7'),
  'Region': 'Europe',
  'Country': 'Spain',
  'City': 'Bilbao',
  'Month': 6,
  'Day': 18,
  'Year': 2020,
  'AvgTemperature': 60.4,
  'fecha': '2020-06-18',
  'tmin': 13.5,
  'tmax': 20.4,
  'prcp': 0.0,
  'wspd': 7.1,
  'pres': 1017.8,
  'latitud': 43.2630018,
  'longitud': -2.9350039},
 {'_id': ObjectId('63ce9534dc26fe3c3ed804f3'),
  'Region': 'Europe',
  'Country': 'Spain',
  'City': 'Bilbao',
  'Month': 6,
  'Day': 18,
  'Year': 2020,
  'AvgTemperature': 60.4,
  'fecha': '2020-06-18',
  'tmin': 13.5,
  'tmax': 20.4,
  'prcp': 0.0,
  'wspd': 7.1,
  'pres': 1017.8,
  'latitud': 43.2630018,
  'longitud': -2.9350039}]